Repository Open-Source-Drilling-Community/drillbotics-guidelines, changes with the owners that CODEOWNERS names for each.
All owners: @virtual-track-lead, @guidelines-maintainer, @physical-track-lead

📝 docs(readme): add missing line break before github section
  README.md
Owners: none

📝 docs(mkdocs): update GitHub ignore URL in validation settings
  Makefile
  mkdocs.yml
Owners: none

💄 style(docs): update button icons and styles in index.md
  docs/index.md
Owners: @guidelines-maintainer

♻️ refactor(theme): update color palette with specific hex values
  mkdocs.yml
Owners: none

💄 style(docs): remove trailing blank lines in index.md
  docs/index.md
Owners: @guidelines-maintainer

♻️ refactor(announcement): improve URL resolution logic
  docs/_assets/scripts/announcement.js
Owners: none

✨ feat(docs): add copy markdown button with raw github url support
  docs/_assets/scripts/copy-markdown.js
Owners: none

♻️ refactor(stylesheets): remove deprecated extra.css and enhance brand tokens
  docs/_assets/styles/extra.css
  docs/stylesheets/extra.css
Owners: none

📝 docs(competition): update URLs to new Open-Source-Drilling-Community site
  docs/competition/rules-scoring.md
  docs/competition/safety.md
  docs/competition/timeline.md
  mkdocs.yml
Owners: @guidelines-maintainer

Deployed 0565a85 to 2025 with MkDocs 1.6.1 and mike 2.1.3
  2025/2024/faq/index.html
  2025/2024/group-a/index.html
  2025/2024/group-b/index.html
  2025/404.html
  2025/_assets/scripts/announcement.js
  2025/_assets/scripts/copy-markdown.js
  2025/_assets/styles/extra.css
  2025/changelog/index.html
  2025/competition/index.html
  2025/competition/overview/index.html
  2025/competition/rules-scoring/index.html
  2025/competition/safety/index.html
  2025/competition/timeline/index.html
  2025/competition/upcoming/index.html
  2025/contributor-guide/index.html
  2025/faq/index.html
  2025/index.html
  2025/resources/downloads/index.html
  2025/search/search_index.json
  2025/sitemap.xml
  2025/sitemap.xml.gz
  2025/stylesheets/extra.css
  2025/tags/index.html
  2025/tracks/deliverables/index.html
  2025/tracks/group-a/deliverables/index.html
  2025/tracks/group-a/judging/index.html
  2025/tracks/group-a/overview/index.html
  2025/tracks/group-a/technical-specs/index.html
  2025/tracks/group-b/autonomy/index.html
  2025/tracks/group-b/deliverables/index.html
  2025/tracks/group-b/hardware/index.html
  2025/tracks/group-b/judging/index.html
  2025/tracks/group-b/overview/index.html
  2025/tracks/group-b/safety/index.html
  2025/tracks/index.html
Owners: none

📝 docs(competition): update authoritative rules URL
  docs/competition/overview.md
Owners: @guidelines-maintainer

📝 docs(upcoming): update registration and milestone dates
  docs/_assets/scripts/announcement.js
  docs/_includes/upcoming.md
  docs/tracks/group-a/deliverables.md
  docs/tracks/group-b/deliverables.md
Owners: @virtual-track-lead, @guidelines-maintainer, @physical-track-lead

Deployed 1a19801 to 2025 with MkDocs 1.6.1 and mike 2.1.3
  2025/_assets/scripts/announcement.js
  2025/competition/overview/index.html
  2025/competition/timeline/index.html
  2025/competition/upcoming/index.html
  2025/index.html
  2025/search/search_index.json
  2025/tracks/group-a/deliverables/index.html
  2025/tracks/group-b/deliverables/index.html
Owners: none

📝 docs(tracks): rename group labels to mode virtual and mode physical
  docs/tracks/group-a/technical-specs.md
  docs/tracks/group-b/autonomy.md
  docs/tracks/group-b/deliverables.md
  docs/tracks/group-b/hardware.md
  docs/tracks/group-b/judging.md
  docs/tracks/group-b/overview.md
  docs/tracks/group-b/safety.md
Owners: @virtual-track-lead, @guidelines-maintainer, @physical-track-lead

📝 docs(index): rename group A/B to mode virtual/physical
  docs/index.md
Owners: @guidelines-maintainer

📝 docs(competition): update track naming conventions in overview
  docs/competition/overview.md
Owners: @guidelines-maintainer

docs(competition): update judging rubric reference link
  docs/competition/rules-scoring.md
Owners: @guidelines-maintainer

📝 docs(tracks): rename group labels to mode for clarity
  docs/tracks/deliverables.md
  docs/tracks/index.md
Owners: none

📝 docs(tracks): update 'Group A' to 'Mode Virtual (V)' terminology
  docs/tracks/group-a/deliverables.md
  docs/tracks/group-a/judging.md
  docs/tracks/group-a/overview.md
Owners: @virtual-track-lead, @guidelines-maintainer

🌐 i18n(docs): add mode abbreviations (V, P) for clarity
  docs/competition/rules-scoring.md
  docs/index.md
  docs/tracks/group-a/deliverables.md
  docs/tracks/group-a/overview.md
  docs/tracks/group-b/deliverables.md
  docs/tracks/group-b/overview.md
  docs/tracks/group-b/safety.md
Owners: @guidelines-maintainer, @virtual-track-lead, @physical-track-lead

📝 docs(upcoming): update milestone dates and add new schedule items
  docs/_includes/upcoming.md
  docs/faq.md
Owners: none

📝 docs(nav): update track names and labels for clarity
  mkdocs.yml
Owners: none

📝 docs(competition): update competition overview and rules for 2025.1
  docs/competition/overview.md
  docs/competition/rules-scoring.md
Owners: @guidelines-maintainer

📝 docs(competition): update safety guidelines and timeline notes
  docs/competition/safety.md
  docs/competition/timeline.md
  docs/tracks/deliverables.md
  docs/tracks/group-a/deliverables.md
  docs/tracks/group-b/deliverables.md
Owners: @guidelines-maintainer, @virtual-track-lead, @physical-track-lead

📝 docs(tracks): update group-a judging criteria for 2025.1
  docs/tracks/group-a/judging.md
Owners: @virtual-track-lead, @guidelines-maintainer

📝 docs(tracks): update group-a overview with 2025 cases and guidance
  docs/tracks/group-a/overview.md
Owners: @virtual-track-lead, @guidelines-maintainer

docs📝 docs(tracks): update judging.md with 2025.1 rubric and guidelines
  docs/tracks/group-b/judging.md
Owners: @physical-track-lead, @guidelines-maintainer

📝 docs(tracks): add note on edge-deployable models in group-b overview
  docs/tracks/group-b/overview.md
Owners: @physical-track-lead, @guidelines-maintainer

📝 docs(tracks): update technical specs for 2025 drilling challenge
  docs/tracks/group-a/technical-specs.md
Owners: @virtual-track-lead, @guidelines-maintainer

💄 style(docs): fix non-breaking hyphen issues and improve readability
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/2024/group-a.md
  docs/2024/group-b.md
  docs/_includes/upcoming.md
  docs/competition/index.md
  docs/competition/overview.md
  docs/competition/rules-scoring.md
  docs/competition/safety.md
  docs/faq.md
  docs/index.md
  docs/resources/downloads.md
  docs/stylesheets/extra.css
  docs/tracks/deliverables.md
  docs/tracks/group-a/deliverables.md
  docs/tracks/group-a/judging.md
  docs/tracks/group-a/overview.md
  docs/tracks/group-a/technical-specs.md
  docs/tracks/group-b/autonomy.md
  docs/tracks/group-b/deliverables.md
  docs/tracks/group-b/hardware.md
  docs/tracks/group-b/judging.md
  docs/tracks/group-b/overview.md
  docs/tracks/index.md
Owners: @guidelines-maintainer, @virtual-track-lead, @physical-track-lead

📝 docs(edge-ai): add centralized Edge-AI constraints include file
  docs/_includes/edge-ai.md
  docs/_includes/upcoming.md
  docs/competition/overview.md
  docs/competition/rules-scoring.md
  docs/tracks/group-a/deliverables.md
  docs/tracks/group-a/judging.md
  docs/tracks/group-a/overview.md
  docs/tracks/group-a/technical-specs.md
  docs/tracks/group-b/deliverables.md
  docs/tracks/group-b/judging.md
  docs/tracks/group-b/overview.md
  docs/tracks/index.md
Owners: @guidelines-maintainer, @virtual-track-lead, @physical-track-lead

📝 docs(index): fix non-breaking hyphen in D‑WIS mentions
  docs/index.md
Owners: @guidelines-maintainer

📝 docs(abbr): add abbreviation definitions for terms and acronyms
  docs/_includes/abbr.md
  docs/index.md
  docs/stylesheets/extra.css
  docs/tracks/group-a/overview.md
Owners: @guidelines-maintainer, @virtual-track-lead

💄 style(docs): add custom abbr tooltips script
  docs/_assets/scripts/abbr-tooltips.js
Owners: none

🔧 chore(gitignore): ignore internal documentation files
  .gitignore
Owners: none

💄 style(docs): standardize capitalization and formatting in headings and links
  docs/competition/index.md
  docs/competition/overview.md
  docs/competition/rules-scoring.md
  docs/competition/safety.md
  docs/index.md
  docs/resources/downloads.md
  docs/stylesheets/extra.css
  docs/tracks/group-a/overview.md
  docs/tracks/group-a/technical-specs.md
  docs/tracks/index.md
Owners: @guidelines-maintainer, @virtual-track-lead

📝 docs(index): add official site, archives, and registration info
  docs/index.md
  docs/resources/downloads.md
  mkdocs.yml
Owners: @guidelines-maintainer

📝 docs(changelog): add detailed 2025.1 update notes
  docs/changelog.md
Owners: @guidelines-maintainer

📝 docs(changelog): update changelog format and add metadata
  docs/changelog.md
  docs/tracks/group-b/overview.md
Owners: @guidelines-maintainer, @physical-track-lead

Deployed bb8951f to 2025.1 with MkDocs 1.6.1 and mike 2.1.3
  2025.1/2024/faq/index.html
  2025.1/2024/group-a/index.html
  2025.1/2024/group-b/index.html
  2025.1/404.html
  2025.1/_assets/2024 Drillbotics Guidelines-Group A.docx
  2025.1/_assets/2024 Drillbotics Guidelines-Group B.docx
  2025.1/changelog/index.html
  2025.1/competition/index.html
  2025.1/competition/overview/index.html
  2025.1/competition/rules-scoring/index.html
  2025.1/competition/safety/index.html
  2025.1/competition/timeline/index.html
  2025.1/competition/upcoming/index.html
  2025.1/contributor-guide/index.html
  2025.1/faq/index.html
  2025.1/index.html
  2025.1/resources/downloads/index.html
  2025.1/search/search_index.json
  2025.1/tags/index.html
  2025.1/tracks/deliverables/index.html
  2025.1/tracks/group-a/deliverables/index.html
  2025.1/tracks/group-a/judging/index.html
  2025.1/tracks/group-a/overview/index.html
  2025.1/tracks/group-a/technical-specs/index.html
  2025.1/tracks/group-b/autonomy/index.html
  2025.1/tracks/group-b/deliverables/index.html
  2025.1/tracks/group-b/hardware/index.html
  2025.1/tracks/group-b/judging/index.html
  2025.1/tracks/group-b/overview/index.html
  2025.1/tracks/group-b/safety/index.html
  2025.1/tracks/index.html
Owners: none

CODEOWNERS:

docs/tracks/group-a/*  @virtual-track-lead @guidelines-maintainer
docs/tracks/group-b/*  @physical-track-lead @guidelines-maintainer
docs/competition/*     @guidelines-maintainer
docs/resources/*       @guidelines-maintainer
docs/index.md          @guidelines-maintainer
docs/changelog.md      @guidelines-maintainer
