Repository Open-Source-Drilling-Community/drillbotics-guidelines, changes with the owners that CODEOWNERS names for each.
All owners: @virtual-track-lead, @guidelines-maintainer, @physical-track-lead

CODEOWNERS:

docs/tracks/group-a/*  @virtual-track-lead @guidelines-maintainer
docs/tracks/group-b/*  @physical-track-lead @guidelines-maintainer
docs/competition/*     @guidelines-maintainer
docs/resources/*       @guidelines-maintainer
docs/index.md          @guidelines-maintainer
docs/changelog.md      @guidelines-maintainer

📝 docs(config): enhance mkdocs configuration for Drillbotics guidelines
  mkdocs.yml
Owners: none

✨ feat(docs): add initial Drillbotics guidelines README
  README.md
  docs/_assets/images/logos/favicon-bw.svg
Owners: none

📝 docs(readme): update authors section and remove pip/venv instructions
  README.md
Owners: none

📝 docs(github): add pull request template for contribution quality
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

📝 docs(index): fix FAQ link path
  docs/index.md
Owners: @guidelines-maintainer

📝 docs(faq): add active competition year FAQ page
  docs/faq.md
Owners: none

💄 style(docs): add styling for PDF viewer component
  docs/_assets/styles/extra.css
Owners: none

✨ feat(docs): add mkdocs-htmlproofer-plugin to requirements
  requirements.txt
Owners: none

📦 build(makefile): add mkdocs serve and build commands
  Makefile
Owners: none

📝 docs(group-a): update 2024 Group A Drillbotics guidelines
  docs/2024/group-a.md
Owners: none

📝 docs(group-a): update 2024 guidelines and add version history
  docs/2024/group-a.md
Owners: none

📝 docs(group-b): update and restructure 2024 group b guidelines document
  docs/2024/group-b.md
Owners: none

📝 docs(assets): add 2024 Drillbotics guidelines images for groups A and B
  docs/_assets/2024 Drillbotics Guidelines-Group A_assets/media/image1.jpg
  docs/_assets/2024 Drillbotics Guidelines-Group A_assets/media/image2.png
  docs/_assets/2024 Drillbotics Guidelines-Group B_assets/media/image1.jpg
  docs/_assets/2024 Drillbotics Guidelines-Group B_assets/media/image2.png
  docs/_assets/2024 Drillbotics Guidelines-Group B_assets/media/image3.png
  docs/_assets/2024 Drillbotics Guidelines-Group B_assets/media/image4.png
Owners: none

📝 docs(config): update site URL and markdown emoji config
  mkdocs.yml
Owners: none

📝 docs(group-a): add technical specifications document
  docs/tracks/group-a/technical-specs.md
Owners: @virtual-track-lead, @guidelines-maintainer

✨ feat(announcement): add site-wide dismissible announcement banner
  docs/_assets/scripts/announcement.js
Owners: none

📝 docs(group-a): update 2024 guidelines for historical archive and fix links
  docs/2024/group-a.md
  docs/2024/group-b.md
Owners: none

📝 docs(index): update homepage with enhanced layout and links
  docs/2024/faq.md
  docs/index.md
Owners: @guidelines-maintainer

📝 docs(mkdocs): update theme and plugins configuration
  mkdocs.yml
Owners: none

💄 style(styles): enhance hero section and button styles
  docs/_assets/styles/extra.css
  docs/tracks/group-b/hardware.md
  docs/tracks/group-b/judging.md
  docs/tracks/group-b/overview.md
  docs/tracks/group-b/safety.md
Owners: @physical-track-lead, @guidelines-maintainer

📦 build(requirements): add pymdown-extensions package
  requirements.txt
Owners: none

📝 docs(images): add new track-a and track-b SVG assets
  docs/_assets/images/track-a.svg
  docs/_assets/images/track-b.svg
Owners: none

📝 docs: add competition rules, scoring, and track deliverables
  docs/_includes/upcoming.md
  docs/competition/rules-scoring.md
  docs/tracks/group-a/deliverables.md
  docs/tracks/group-a/judging.md
  docs/tracks/group-a/overview.md
  docs/tracks/group-b/autonomy.md
  docs/tracks/group-b/deliverables.md
Owners: @guidelines-maintainer, @virtual-track-lead, @physical-track-lead

✨ feat(docs): add copy markdown button to docs pages
  docs/_assets/scripts/copy-markdown.js
Owners: none

📝 docs(competition): add upcoming dates documentation
  docs/competition/upcoming.md
Owners: @guidelines-maintainer

💄 style(docs): enhance GitHub link visibility and hide header repo link
  docs/_assets/styles/extra.css
Owners: none

🔧 chore(gitignore): add /reference to ignore list
  .gitignore
Owners: none

✨ feat(docs): add upcoming dates page to competition section
  mkdocs.yml
Owners: none

Copied 2024 to latest with mike 2.1.3
  latest
  versions.json
Owners: none

Set default version to latest with mike 2.1.3
  index.html
Owners: none

Deployed 89c1584 to 2025 with MkDocs 1.6.1 and mike 2.1.3
  2025/_includes/upcoming/index.html
  2025/search/search_index.json
  2025/sitemap.xml
  2025/sitemap.xml.gz
Owners: none

📝 docs(mkdocs): update repository url and enhance theme configuration
  mkdocs.yml
Owners: none

Deployed 2a75b83 to 2025 with MkDocs 1.6.1 and mike 2.1.3
  2025/2024/faq/index.html
  2025/2024/group-a/index.html
  2025/2024/group-b/index.html
  2025/404.html
  2025/changelog/index.html
  2025/competition/overview/index.html
  2025/competition/rules-scoring/index.html
  2025/competition/safety/index.html
  2025/competition/timeline/index.html
  2025/competition/upcoming/index.html
  2025/contributor-guide/index.html
  2025/faq/index.html
  2025/index.html
  2025/resources/downloads/index.html
  2025/search/search_index.json
  2025/tracks/group-a/deliverables/index.html
  2025/tracks/group-a/judging/index.html
  2025/tracks/group-a/overview/index.html
  2025/tracks/group-a/technical-specs/index.html
  2025/tracks/group-b/autonomy/index.html
  2025/tracks/group-b/deliverables/index.html
  2025/tracks/group-b/hardware/index.html
  2025/tracks/group-b/judging/index.html
  2025/tracks/group-b/overview/index.html
  2025/tracks/group-b/safety/index.html
  latest
  versions.json
Owners: none

📝 docs(index): revamp landing page with improved structure and navigation
  docs/index.md
Owners: @guidelines-maintainer

Deployed 0b877d9 to 2025 with MkDocs 1.6.1 and mike 2.1.3
  2025/_assets/styles/extra.css
  2025/index.html
  2025/resources/downloads/index.html
  2025/search/search_index.json
Owners: none

✨ feat(docs): add contributing guidelines for Drillbotics site
  CONTRIBUTING.md
  mkdocs.yml
Owners: none

📦 build(requirements): add mkdocs-minify-plugin dependency
  requirements.txt
Owners: none

📝 docs(readme): update docs build instructions and add site structure info
  README.md
Owners: none

💄 style(styles): refine spacing and padding for layout consistency
  docs/_assets/styles/extra.css
Owners: none

📝 docs(upcoming): update milestone dates to table format
  docs/_includes/upcoming.md
Owners: none
