Repository Open-Source-Drilling-Community/drillbotics-guidelines, changes with the owners that CODEOWNERS names for each.
All owners: @virtual-track-lead, @guidelines-maintainer, @physical-track-lead

📝 docs(competition): add canonical competition rules & resources page
  docs/competition/index.md
Owners: @guidelines-maintainer

📝 docs(group-a): add detailed overview and deliverables metadata
  docs/tracks/group-a/deliverables.md
  docs/tracks/group-a/overview.md
  docs/tracks/group-b/deliverables.md
  docs/tracks/group-b/overview.md
Owners: @virtual-track-lead, @guidelines-maintainer, @physical-track-lead

📝 docs(competition): add safety, timeline, downloads metadata and warnings
  docs/competition/safety.md
  docs/competition/timeline.md
  docs/resources/downloads.md
  docs/stylesheets/extra.css
  docs/tracks/deliverables.md
  docs/tracks/index.md
Owners: @guidelines-maintainer

📝 docs(changelog): update August 2025 competition and tracks details
  docs/changelog.md
Owners: @guidelines-maintainer

✨ docs: add mathjax and arithmatex support for math rendering
  mkdocs.yml
Owners: none

📝 docs(index): add emojis to competition links for clarity
  docs/index.md
Owners: @guidelines-maintainer

📝 docs(group-a): archive 2024 guidelines with updates and corrections
  docs/2024/group-a.md
Owners: none

📝 docs(group-b): add archived 2024 guidelines page
  docs/2024/group-b.md
Owners: none

✨ feat(docs): add MathJax config for MkDocs Material
  docs/_assets/scripts/mathjax.js
Owners: none

📝 docs(timeline): clean up placeholder instructions
  docs/competition/timeline.md
Owners: @guidelines-maintainer

💄 style(docs): refine integrated ToC for better readability
  docs/stylesheets/extra.css
Owners: none

📝 docs(group-a): convert header images to markdown table
  docs/2024/group-a.md
  docs/2024/group-b.md
Owners: none

Deployed 0d69b7f to 2025 with MkDocs 1.6.1 and mike 2.1.3
  2025/2024/faq/index.html
  2025/2024/group-a/index.html
  2025/2024/group-b/index.html
  2025/404.html
  2025/_assets/scripts/mathjax.js
  2025/_assets/scripts/mermaid-theme.js
  2025/changelog/index.html
  2025/competition/index.html
  2025/competition/overview/index.html
  2025/competition/rules-scoring/index.html
  2025/competition/safety/index.html
  2025/competition/timeline/index.html
  2025/competition/upcoming/index.html
  2025/contributor-guide/index.html
  2025/faq/index.html
  2025/index.html
  2025/resources/downloads/index.html
  2025/search/search_index.json
  2025/sitemap.xml
  2025/sitemap.xml.gz
  2025/stylesheets/extra.css
  2025/tags/index.html
  2025/tracks/deliverables/index.html
  2025/tracks/group-a/deliverables/index.html
  2025/tracks/group-a/judging/index.html
  2025/tracks/group-a/overview/index.html
  2025/tracks/group-a/technical-specs/index.html
  2025/tracks/group-b/autonomy/index.html
  2025/tracks/group-b/deliverables/index.html
  2025/tracks/group-b/hardware/index.html
  2025/tracks/group-b/judging/index.html
  2025/tracks/group-b/overview/index.html
  2025/tracks/group-b/safety/index.html
  2025/tracks/index.html
Owners: none

♻️ refactor(scripts): enhance local-dev.sh with mike deploy and usage tips
  local-dev.sh
Owners: none

♻️ refactor(makefile): update serve target to use mike for dev deployment
  Makefile
Owners: none

🔧 chore(mkdocs): simplify plugins config and remove htmlproofer options
  mkdocs.yml
Owners: none

📝 docs(readme): add instructions for local preview with mike
  README.md
Owners: none

💄 style(stylesheets): enhance header color and logo visibility
  docs/stylesheets/extra.css
Owners: none

🐛 docs(group-a): fix image paths for drillbotics guidelines
  docs/2024/group-a.md
Owners: none

🐛 fix(docs): correct image paths and markdown syntax in group-b.md
  docs/2024/group-b.md
Owners: none

📝 docs(index): update competition rules wording and flowchart
  docs/index.md
Owners: @guidelines-maintainer

📝 docs(competition): add tags frontmatter to competition docs
  docs/competition/overview.md
  docs/competition/rules-scoring.md
  docs/competition/upcoming.md
  docs/stylesheets/extra.css
  docs/tracks/group-a/judging.md
  docs/tracks/group-a/overview.md
  docs/tracks/group-a/technical-specs.md
  docs/tracks/group-b/autonomy.md
  docs/tracks/group-b/hardware.md
  docs/tracks/group-b/judging.md
  docs/tracks/group-b/overview.md
  docs/tracks/index.md
Owners: @guidelines-maintainer, @virtual-track-lead, @physical-track-lead

🔧 chore(docs): enhance mkdocs navigation and configure tags plugin
  mkdocs.yml
Owners: none

📝 docs(tags): update tags page description
  docs/tags.md
Owners: none

📝 docs(competition): add tags metadata for competition page
  docs/competition/index.md
Owners: @guidelines-maintainer

Deployed 34892b1 to 2025 with MkDocs 1.6.1 and mike 2.1.3
  2025/2024/faq/index.html
  2025/2024/group-a/index.html
  2025/2024/group-b/index.html
  2025/404.html
  2025/changelog/index.html
  2025/competition/index.html
  2025/competition/overview/index.html
  2025/competition/rules-scoring/index.html
  2025/competition/safety/index.html
  2025/competition/timeline/index.html
  2025/competition/upcoming/index.html
  2025/contributor-guide/index.html
  2025/faq/index.html
  2025/index.html
  2025/resources/downloads/index.html
  2025/search/search_index.json
  2025/stylesheets/extra.css
  2025/tags/index.html
  2025/tracks/deliverables/index.html
  2025/tracks/group-a/deliverables/index.html
  2025/tracks/group-a/judging/index.html
  2025/tracks/group-a/overview/index.html
  2025/tracks/group-a/technical-specs/index.html
  2025/tracks/group-b/autonomy/index.html
  2025/tracks/group-b/deliverables/index.html
  2025/tracks/group-b/hardware/index.html
  2025/tracks/group-b/judging/index.html
  2025/tracks/group-b/overview/index.html
  2025/tracks/group-b/safety/index.html
  2025/tracks/index.html
Owners: none

📝 docs(readme): add spacing and formatting improvements
  README.md
Owners: none

♻️ refactor(scripts): update local-dev.sh to use mkdocs serve for dev server
  local-dev.sh
Owners: none

♻️ refactor(makefile): update serve target for local preview
  Makefile
Owners: none

📝 docs(readme): update local preview instructions and cleanup
  README.md
Owners: none

📝 docs(changelog): add September 2025 updates for tooling and competition
  docs/changelog.md
Owners: @guidelines-maintainer

♻️ refactor(announcement): improve URL construction for announcement banner
  docs/_assets/scripts/announcement.js
Owners: none

📝 docs(competition): add draft warnings to multiple sections
  docs/competition/overview.md
  docs/competition/rules-scoring.md
  docs/competition/safety.md
  docs/competition/timeline.md
Owners: @guidelines-maintainer

📝 docs(config): update mkdocs site url and improve config
  mkdocs.yml
Owners: none

✨ feat(ui): polish competition index cards and announcement banner
  docs/changelog.md
  docs/competition/index.md
  docs/stylesheets/extra.css
Owners: @guidelines-maintainer

✨ feat(ui): enhance competition cards and mobile nav styling
  docs/changelog.md
  docs/stylesheets/extra.css
Owners: @guidelines-maintainer

📝 docs(tracks): add subtitles to track overview cards
  docs/tracks/index.md
Owners: none

💄 style(docs): add subtitles to competition overview cards
  docs/competition/index.md
Owners: @guidelines-maintainer

📝 docs(changelog): update UI polish description for clarity
  docs/_includes/upcoming.md
  docs/changelog.md
  docs/stylesheets/extra.css
Owners: @guidelines-maintainer

Deployed a0e01d4 to 2025 with MkDocs 1.6.1 and mike 2.1.3
  2025/2024/faq/index.html
  2025/2024/group-a/index.html
  2025/2024/group-b/index.html
  2025/404.html
  2025/_assets/scripts/announcement.js
  2025/changelog/index.html
  2025/competition/index.html
  2025/competition/overview/index.html
  2025/competition/rules-scoring/index.html
  2025/competition/safety/index.html
  2025/competition/timeline/index.html
  2025/competition/upcoming/index.html
  2025/contributor-guide/index.html
  2025/faq/index.html
  2025/index.html
  2025/resources/downloads/index.html
  2025/search/search_index.json
  2025/sitemap.xml
  2025/sitemap.xml.gz
  2025/stylesheets/extra.css
  2025/tags/index.html
  2025/tracks/deliverables/index.html
  2025/tracks/group-a/deliverables/index.html
  2025/tracks/group-a/judging/index.html
  2025/tracks/group-a/overview/index.html
  2025/tracks/group-a/technical-specs/index.html
  2025/tracks/group-b/autonomy/index.html
  2025/tracks/group-b/deliverables/index.html
  2025/tracks/group-b/hardware/index.html
  2025/tracks/group-b/judging/index.html
  2025/tracks/group-b/overview/index.html
  2025/tracks/group-b/safety/index.html
  2025/tracks/index.html
Owners: none

CODEOWNERS:

docs/tracks/group-a/*  @virtual-track-lead @guidelines-maintainer
docs/tracks/group-b/*  @physical-track-lead @guidelines-maintainer
docs/competition/*     @guidelines-maintainer
docs/resources/*       @guidelines-maintainer
docs/index.md          @guidelines-maintainer
docs/changelog.md      @guidelines-maintainer
