Repository Open-Source-Drilling-Community/drillbotics-guidelines, changes with the owners that CODEOWNERS names for each.
All owners: @virtual-track-lead, @guidelines-maintainer, @physical-track-lead

Copied 2025.1 to latest with mike 2.1.3
  latest
  versions.json
Owners: none

📝 docs(safety): update competition and track safety guidelines
  docs/competition/safety.md
  docs/tracks/group-a/deliverables.md
  docs/tracks/group-b/autonomy.md
  docs/tracks/group-b/deliverables.md
  docs/tracks/group-b/hardware.md
  docs/tracks/group-b/safety.md
Owners: @guidelines-maintainer, @virtual-track-lead, @physical-track-lead

📝 docs(competition): update rules and scoring for clarity and compliance
  docs/competition/rules-scoring.md
  docs/tracks/group-a/technical-specs.md
Owners: @guidelines-maintainer, @virtual-track-lead

📝 docs(contributor-guide): expand contributor guide with setup and conventions
  docs/contributor-guide.md
Owners: none

📝 docs(mkdocs): update site url and navigation labels
  mkdocs.yml
Owners: none

📝 docs(readme): update introduction and usage instructions
  README.md
Owners: none

Deployed 94166ad to 2025.1 with MkDocs 1.6.1 and mike 2.1.3
  2025.1/2024/faq/index.html
  2025.1/2024/group-a/index.html
  2025.1/2024/group-b/index.html
  2025.1/404.html
  2025.1/_assets/2024 Drillbotics Guidelines-Group A.docx
  2025.1/_assets/2024 Drillbotics Guidelines-Group B.docx
  2025.1/changelog/index.html
  2025.1/competition/index.html
  2025.1/competition/overview/index.html
  2025.1/competition/rules-scoring/index.html
  2025.1/competition/safety/index.html
  2025.1/competition/timeline/index.html
  2025.1/competition/upcoming/index.html
  2025.1/contributor-guide/index.html
  2025.1/faq/index.html
  2025.1/index.html
  2025.1/resources/downloads/index.html
  2025.1/search/search_index.json
  2025.1/sitemap.xml
  2025.1/sitemap.xml.gz
  2025.1/tags/index.html
  2025.1/tracks/deliverables/index.html
  2025.1/tracks/group-a/deliverables/index.html
  2025.1/tracks/group-a/judging/index.html
  2025.1/tracks/group-a/overview/index.html
  2025.1/tracks/group-a/technical-specs/index.html
  2025.1/tracks/group-b/autonomy/index.html
  2025.1/tracks/group-b/deliverables/index.html
  2025.1/tracks/group-b/hardware/index.html
  2025.1/tracks/group-b/judging/index.html
  2025.1/tracks/group-b/overview/index.html
  2025.1/tracks/group-b/safety/index.html
  2025.1/tracks/index.html
Owners: none

🔧 bugfix(docs): update edit_uri branch from main to master
  mkdocs.yml
Owners: none

✨ docs(scripts): add copy buttons for markdown, text, and rich content
  docs/_assets/scripts/copy-markdown.js
Owners: none

💄 style(stylesheets): style custom copy markdown icon buttons
  docs/stylesheets/extra.css
Owners: none

Deployed bccab6e to 2025.1 with MkDocs 1.6.1 and mike 2.1.3
  2025.1/2024/faq/index.html
  2025.1/2024/group-a/index.html
  2025.1/2024/group-b/index.html
  2025.1/_assets/scripts/copy-markdown.js
  2025.1/changelog/index.html
  2025.1/competition/index.html
  2025.1/competition/overview/index.html
  2025.1/competition/rules-scoring/index.html
  2025.1/competition/safety/index.html
  2025.1/competition/timeline/index.html
  2025.1/competition/upcoming/index.html
  2025.1/contributor-guide/index.html
  2025.1/faq/index.html
  2025.1/index.html
  2025.1/resources/downloads/index.html
  2025.1/stylesheets/extra.css
  2025.1/tags/index.html
  2025.1/tracks/deliverables/index.html
  2025.1/tracks/group-a/deliverables/index.html
  2025.1/tracks/group-a/judging/index.html
  2025.1/tracks/group-a/overview/index.html
  2025.1/tracks/group-a/technical-specs/index.html
  2025.1/tracks/group-b/autonomy/index.html
  2025.1/tracks/group-b/deliverables/index.html
  2025.1/tracks/group-b/hardware/index.html
  2025.1/tracks/group-b/judging/index.html
  2025.1/tracks/group-b/overview/index.html
  2025.1/tracks/group-b/safety/index.html
  2025.1/tracks/index.html
Owners: none

🆕 feat(sponsors): add sponsors ribbon with dynamic data loading
  docs/_assets/data/sponsors.json
  docs/_assets/images/sponsors/DSATS_logo.png
  docs/_assets/images/sponsors/Gibson_reports_logo_black.png
  docs/_assets/scripts/announcement.js
  docs/_assets/scripts/sponsors-ribbon.js
Owners: none

💄 style(docs): improve announcement and add sponsors ribbon styles
  docs/stylesheets/extra.css
Owners: none

📝 docs(competition): update markdown links for judging and safety docs
  docs/competition/rules-scoring.md
  docs/competition/safety.md
Owners: @guidelines-maintainer

📝 docs(competition): fix relative link to mode physical safety page
  docs/competition/safety.md
Owners: @guidelines-maintainer

♻️ refactor(sponsors-ribbon): convert innerHTML to template literal
  docs/_assets/scripts/sponsors-ribbon.js
Owners: none

✨ feat(docs): add sponsors ribbon script to mkdocs configuration
  mkdocs.yml
Owners: none

📝 docs(sponsors): update DSATS full name in data and script files
  docs/_assets/data/sponsors.json
  docs/_assets/scripts/sponsors-ribbon.js
  docs/_includes/abbr.md
Owners: none

✨ feat(sponsors-ribbon): normalize logo paths and add auto-hide on scroll
  docs/_assets/scripts/sponsors-ribbon.js
  docs/stylesheets/extra.css
Owners: none

💄 style(docs): enhance footer visibility in light mode
  docs/stylesheets/extra.css
Owners: none

📝 docs(registration): announce and highlight 2026 team registration opening
  docs/_includes/upcoming.md
  docs/competition/overview.md
  docs/index.md
  docs/tracks/group-a/overview.md
  docs/tracks/group-b/overview.md
Owners: @guidelines-maintainer, @virtual-track-lead, @physical-track-lead

📝 docs(changelog): add 2026 registration info and update 2025.1 release notes
  docs/changelog.md
Owners: @guidelines-maintainer

Deployed 716dede to 2025.1 with MkDocs 1.6.1 and mike 2.1.3
  2025.1/2024/faq/index.html
  2025.1/2024/group-a/index.html
  2025.1/2024/group-b/index.html
  2025.1/404.html
  2025.1/_assets/data/sponsors.json
  2025.1/_assets/images/sponsors/DSATS_logo.png
  2025.1/_assets/images/sponsors/Gibson_reports_logo_black.png
  2025.1/_assets/scripts/announcement.js
  2025.1/_assets/scripts/sponsors-ribbon.js
  2025.1/changelog/index.html
  2025.1/competition/index.html
  2025.1/competition/overview/index.html
  2025.1/competition/rules-scoring/index.html
  2025.1/competition/safety/index.html
  2025.1/competition/timeline/index.html
  2025.1/competition/upcoming/index.html
  2025.1/contributor-guide/index.html
  2025.1/faq/index.html
  2025.1/index.html
  2025.1/resources/downloads/index.html
  2025.1/search/search_index.json
  2025.1/sitemap.xml
  2025.1/sitemap.xml.gz
  2025.1/stylesheets/extra.css
  2025.1/tags/index.html
  2025.1/tracks/deliverables/index.html
  2025.1/tracks/group-a/deliverables/index.html
  2025.1/tracks/group-a/judging/index.html
  2025.1/tracks/group-a/overview/index.html
  2025.1/tracks/group-a/technical-specs/index.html
  2025.1/tracks/group-b/autonomy/index.html
  2025.1/tracks/group-b/deliverables/index.html
  2025.1/tracks/group-b/hardware/index.html
  2025.1/tracks/group-b/judging/index.html
  2025.1/tracks/group-b/overview/index.html
  2025.1/tracks/group-b/safety/index.html
  2025.1/tracks/index.html
Owners: none

📝 docs(competition): add prize updates info across docs
  docs/2024/group-a.md
  docs/2024/group-b.md
  docs/competition/overview.md
  docs/competition/rules-scoring.md
Owners: @guidelines-maintainer

📝 docs(changelog): add note on prize rework and callouts
  docs/changelog.md
Owners: @guidelines-maintainer

Deployed 4562927 to 2025.1 with MkDocs 1.6.1 and mike 2.1.3
  2025.1/2024/group-a/index.html
  2025.1/2024/group-b/index.html
  2025.1/changelog/index.html
  2025.1/competition/overview/index.html
  2025.1/competition/rules-scoring/index.html
  2025.1/search/search_index.json
  2025.1/sitemap.xml
  2025.1/sitemap.xml.gz
Owners: none

♻️ refactor(docs): improve sponsor logo path normalization
  docs/_assets/scripts/sponsors-ribbon.js
Owners: none

Deployed 553b634 to 2025.1 with MkDocs 1.6.1 and mike 2.1.3
  2025.1/_assets/scripts/sponsors-ribbon.js
Owners: none

Deployed 553b634 to 2025.1 with MkDocs 1.6.1 and mike 2.1.3
  2025.1/_assets/data/sponsors.json
  2025.1/_assets/images/sponsors/2025-2026/Platinum/DSATS_logo.png
  2025.1/_assets/images/sponsors/2025-2026/Platinum/IPT-GLOBAL-logo-color.png
  2025.1/_assets/scripts/sponsors-ribbon.js
  2025.1/sitemap.xml
  2025.1/sitemap.xml.gz
Owners: none

📦 build(docs): add 2025-2026 Platinum sponsors IPT Global and DSATS logos
  docs/_assets/data/sponsors.json
  docs/_assets/images/sponsors/2025-2026/Platinum/DSATS_logo.png
  docs/_assets/images/sponsors/2025-2026/Platinum/IPT-GLOBAL-logo-color.png
  docs/_assets/scripts/sponsors-ribbon.js
Owners: none

Deployed a83f1e0 to 2025.1 with MkDocs 1.6.1 and mike 2.1.3
  2025.1/_assets/data/sponsors.json
  2025.1/_assets/scripts/announcement.js
  2025.1/competition/overview/index.html
  2025.1/competition/timeline/index.html
  2025.1/competition/upcoming/index.html
  2025.1/index.html
  2025.1/search/search_index.json
  2025.1/sitemap.xml
  2025.1/sitemap.xml.gz
  2025.1/tracks/group-a/overview/index.html
  2025.1/tracks/group-b/overview/index.html
Owners: none

✨ docs(announcement): extend registration deadline to december 31, 2025
  docs/_assets/scripts/announcement.js
  docs/_includes/upcoming.md
  docs/competition/overview.md
  docs/index.md
  docs/tracks/group-a/overview.md
  docs/tracks/group-b/overview.md
Owners: @guidelines-maintainer, @virtual-track-lead, @physical-track-lead

docs: refresh Phase I messaging, sponsors, and CI deploy
  Agent.md
  docs/_assets/data/sponsors.json
  docs/_assets/images/sponsors/2025-2026/Gold/corva-logo.svg
  docs/_assets/images/sponsors/2025-2026/Platinum/baker-hughes-logo.svg
  docs/_assets/images/sponsors/2025-2026/Platinum/nov-logo.svg
  docs/_assets/scripts/announcement.js
  docs/_assets/scripts/sponsors-ribbon.js
  docs/_includes/upcoming.md
  docs/changelog.md
  docs/competition/overview.md
  docs/index.md
  docs/tracks/group-a/overview.md
  docs/tracks/group-b/overview.md
Owners: @guidelines-maintainer, @virtual-track-lead, @physical-track-lead

Deployed 136066f to 2025.1 with MkDocs 1.6.1 and mike 2.1.3
  2025.1/_assets/data/sponsors.json
  2025.1/_assets/images/sponsors/2025-2026/Gold/corva-logo.svg
  2025.1/_assets/images/sponsors/2025-2026/Platinum/baker-hughes-logo.svg
  2025.1/_assets/images/sponsors/2025-2026/Platinum/nov-logo.svg
  2025.1/_assets/scripts/announcement.js
  2025.1/_assets/scripts/sponsors-ribbon.js
  2025.1/changelog/index.html
  2025.1/competition/overview/index.html
  2025.1/competition/timeline/index.html
  2025.1/competition/upcoming/index.html
  2025.1/index.html
  2025.1/search/search_index.json
  2025.1/sitemap.xml
  2025.1/sitemap.xml.gz
  2025.1/tracks/group-a/overview/index.html
  2025.1/tracks/group-b/overview/index.html
Owners: none

📦 build(ci): add GitHub Actions workflow for docs build and deploy
  docs/_assets/scripts/announcement.js
  docs/_includes/upcoming.md
  docs/changelog.md
  docs/competition/overview.md
  docs/competition/phase1-results-2026.md
  docs/index.md
  docs/stylesheets/extra.css
  docs/tracks/group-a/deliverables.md
  docs/tracks/group-b/deliverables.md
  mkdocs.yml
Owners: @guidelines-maintainer, @virtual-track-lead, @physical-track-lead

Deployed fc946ed to 2025.1 with MkDocs 1.6.1 and mike 2.1.3
  2025.1/2024/faq/index.html
  2025.1/2024/group-a/index.html
  2025.1/2024/group-b/index.html
  2025.1/404.html
  2025.1/_assets/scripts/announcement.js
  2025.1/changelog/index.html
  2025.1/competition/index.html
  2025.1/competition/overview/index.html
  2025.1/competition/phase1-results-2026/index.html
  2025.1/competition/rules-scoring/index.html
  2025.1/competition/safety/index.html
  2025.1/competition/timeline/index.html
  2025.1/competition/upcoming/index.html
  2025.1/contributor-guide/index.html
  2025.1/faq/index.html
  2025.1/index.html
  2025.1/resources/downloads/index.html
  2025.1/search/search_index.json
  2025.1/sitemap.xml
  2025.1/sitemap.xml.gz
  2025.1/stylesheets/extra.css
  2025.1/tags/index.html
  2025.1/tracks/deliverables/index.html
  2025.1/tracks/group-a/deliverables/index.html
  2025.1/tracks/group-a/judging/index.html
  2025.1/tracks/group-a/overview/index.html
  2025.1/tracks/group-a/technical-specs/index.html
  2025.1/tracks/group-b/autonomy/index.html
  2025.1/tracks/group-b/deliverables/index.html
  2025.1/tracks/group-b/hardware/index.html
  2025.1/tracks/group-b/judging/index.html
  2025.1/tracks/group-b/overview/index.html
  2025.1/tracks/group-b/safety/index.html
  2025.1/tracks/index.html
Owners: none

📝 docs(competition): publish 2026 results
  docs/_assets/scripts/announcement.js
  docs/_includes/upcoming.md
  docs/changelog.md
  docs/competition/index.md
  docs/competition/overview.md
  docs/competition/phase1-results-2026.md
  docs/competition/results-2026.md
  docs/index.md
  docs/tracks/group-a/deliverables.md
  docs/tracks/group-b/deliverables.md
  mkdocs.yml
Owners: @guidelines-maintainer, @virtual-track-lead, @physical-track-lead

CODEOWNERS:

docs/tracks/group-a/*  @virtual-track-lead @guidelines-maintainer
docs/tracks/group-b/*  @physical-track-lead @guidelines-maintainer
docs/competition/*     @guidelines-maintainer
docs/resources/*       @guidelines-maintainer
docs/index.md          @guidelines-maintainer
docs/changelog.md      @guidelines-maintainer
